/* Personalized CSS used in addition to Bootstrap Framework */

/* Everything Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting the page font */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 
/* Media Queries for images at 800px */
@media only screen and (max-width: 700px) {
    img {height: 250px;
        width: 250px;
    }
}

a:link {
  text-decoration: none;
}

p a {
    text-decoration: none;
    color: #073ca7;
}

a h4{
    text-decoration: none;
    color: #073ca7;
}

.background-hide {
display: none;
}

.background-display {
display: block;
}

.background-main {
    height: 100vh;
    background: url("../images/Binary-Film1.gif");
    background-size: cover;
}

.enter {
    position: absolute;
    margin-top: 100px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(2255, 255, 255, 0.80);
}

.about-me {
    background-color: white;
    padding: 100px;
}

.about-me-title {
    font-size: 32px;
    font-weight: bold;
}

.about-me-body {
padding-top: 50px;
}

#welcome {
    background-color: #073ca7;
    color: white;
}

/* Navbar color and text color */
.navbar {
    background-color: rgba(7, 60, 167, 0.80);
    color: white;
    /* height: 75px; */
}
.nav-link {
    margin-right: 50px;
 }

/* Name in Navbar */
h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Index page images */
.about-me-photo {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.about-me-paragraphs p {
    padding-left: 15px;
}

.portfolio-photos {
    /* height: 700px; */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(198, 198, 198));
}

.photos {
    padding-top: 125px;
}

.photo img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}

.portfolio-container {
    /* height: 2700px; */
    padding: 50px;
    background-image: linear-gradient(rgb(198, 198, 198), rgb(255, 254, 254));
}

.portfolio-title {
    font-size: 32px;
    font-weight: bold;
}

.portfolio-body {
    padding-top: 20px;
}

/* Portfolio page Images */
.portfolio-img img {
    border-radius: 8px;
    border: 1px solid black;
    height: 300px;
    width: auto;
}

.contact-me-title {
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.social-media {
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

/* Portfolio page Images */
.portfolio-img img {
    border-radius: 8px;
    border: 1px solid black;
}

.portfolio-link {
    margin-top: 5px;
    font-size: 24px;
    color: #073ca7;
    text-decoration: none;
}

.portfolio-link a {
    text-decoration: none;
}

/* Contact Page Images */
.social-media-img img {
    border-radius: 8px;
    border: 1px solid black;
}

.social-media-link h4 {
    color: #073ca7;
    font-size: 24px;
}

.github-link {
    margin-top: 10px;
    text-decoration: none;
    color: #073ca7;
    font-size: 18px;
}

.contact-me-container{
    height: 900px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    background-color: rgba(198, 198, 198, 0.8);
    color: rgba(0, 0, 0, 0.5)
    
}